<div class="" style="margin-left: 10rem;margin-top: 2rem">
        <div class="row">
            <div class="col s12 m12">
                <div class="card grey lighten-4">
                    <div class="card-action">
                        <div class="row">
                            <h1>Erro - 404 Pagina Não Encontrada</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>