<div class="" style="margin-left: 13rem;margin-top: 3rem">
    <div class="row">
        <div class="col s12 m12">
            <div class="card grey lighten-4">
                <div class="card-action">
                    <div class="row">

                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large orange darken-3 right"
                                style="width: 100%" href="/?page=Dash_Faturamento">Faturamento</a>
                        </div>
                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large deep-purple darken-3 left"
                                style="width: 100%" href="/?page=Dash_PosFaturamento">Pos-Faturamento</a>
                        </div>


                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large orange darken-3" style="width: 100%"
                                href="/?page=Detalhe_Etapa_Crédito_Pré_Fat">Detalhe Etapa Crédito Pré Faturamento</a>
                        </div>
                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large deep-purple darken-3"
                                style="width: 100%" href="/?page=Detalhe_Etapa_Crédito_Pós_Fat">Detalhe Etapa Crédito
                                Pós Faturamento</a>
                        </div>


                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large orange darken-3" style="width: 100%"
                                href="/?page=Detalhes_Compras.Produtos">Detalhes Compras Produtos</a>
                        </div>
                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large deep-purple darken-3"
                                style="width: 100%" href="/?page=Detalhes_Etapa_Fiscal">Detalhes - Etapa Fiscal</a>
                        </div>


                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large orange darken-3" style="width: 100%"
                                href="/?page=Detalhes_Etapa_Calculadora">Detalhes Etapa Calculadora</a>
                        </div>
                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large deep-purple darken-3"
                                style="width: 100%" href="/?page=Detalhes_Gerais">Detalhes Gerais</a>
                        </div>

                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large orange darken-3" style="width: 100%"
                                href="/?page=Detalhes_Etapa_ADM">Detalhes Etapa ADM</a>
                        </div>
                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large deep-purple darken-3"
                                style="width: 100%" href="/?page=Detalhes_Etapa_Logistica">Detalhes Etapa Logistica</a>
                        </div>


                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large orange darken-3" style="width: 100%"
                                href="/?page=Detalhes_Ruptura">Detalhes Ruptura</a>
                        </div>

                        <div class="col offset-s12 offset-m6">
                        </div>

                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large orange darken-3" style="width: 100%"
                                href="/?page=Detalhes_Etapa_Estoque">Detalhes Etapa Estoque</a>
                        </div>

                        <div class="col offset-s12 offset-m6">
                        </div>

                        <div class="col s12 m6" style="padding-bottom: 1rem">
                            <a class="flow-text waves-effect waves-light btn-large orange darken-3" style="width: 100%"
                                href="/?page=Detalhes_Etapa_ADM_FAT">Detalhes Etapa ADM FAT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>