<!doctype html>
<html>

<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/style.css">

    <script src="js/vue.min.js"></script>

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script src="js/jquery-3.3.1.slim.min.js"></script>

    <script src="js/axios.min.js"></script>

    <script src="js/app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>Menu</title>
</head>

<body style="width: 100%">
    <div id="app">
        <nav class="allied-blue">
            <div class="nav-wrapper">
                <div v-if="volta">
                    <a href="?page=home" class="left" style="padding-left: 1rem"> <i
                            class="large material-icons">arrow_back</i></a>
                </div>
                <div v-if="!volta" class="center">
                    <div>
                    <a class="flow-text waves-effect allied-blue waves-light btn white-text" style="width: 30%;margin-right: 2%"
                        href="/?page=Resumo_Executivo_Etapas">Resumo Executivo Etapas</a>
                    <a class="flow-text waves-effect allied-blue waves-light btn white-text" style="width: 30%"
                        href="/?page=Resumo_Executivo">Resumo Executivo</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container center">
            <div style="margin-left: -13rem;margin-top: -1rem" draggable="true">
                <div V-HTML="html">

                </div>
            </div>
        </div>
</body>